<h1>New Product</h1>

<%= form_tag "/products", method: :post do %>
  <div>
    Name: <input type="name" name="name">
  </div>
  <div>
    Price: <input type="name" name="price">
  </div>
  <div>
    Description: <input type="name" name="description">
  </div>
  <div>
    Image: <input type="name" name="image">
  </div>
  <div>
    <input type="submit" name="Created Product">
  </div>
  <% end %>d